.game-grid {
  display: grid;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

@for $i from 2 through 8 {
  .game-grid[data-size="#{$i}"] {
    grid-template-columns: repeat($i, 1fr);
    @if $i >= 7 {
      gap: 0.2rem;
    }
  }
}

#game-board {
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

@media (max-width: 1024px) {
  .game-grid {
    gap: 2px;
  }
}