.score-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 1024px) {
    .score-box {
        flex-direction: row;
        gap: 10;
    }
    .score-box > * {
        flex: 1 1 0%;
        min-width: 0;
        box-sizing: border-box;
    }
}